body{
	font-family: Arial, Helvetica, sans-serif;
	font-size:15px;
	line-height:1.5;
	
	padding:0;
	margin:0;
	background-color:#f4f4f4;
	
}
/*Global */
.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

header ul{
	margin:0;
	padding:0;
}

.button_1{
	height:38px;
	background:#e8491d;
	border:0;
	padding-left:20px;
	padding-right:20px;
	color:#ffffff;
}
/* Header */
header{
	background:#35424a;
	color:#ffffff;
	padding-top:30px;
	min-height:70px;
	border-bottom:#e8491d 3px solid;
}

header a{
	color:#ffffff;
	text-decoration:none;
	font-size:100%;
}

header li{
	float:left;
	display:inline;
	padding:0 30px 0 30px ;
	
}
/* Mut butoanele in coltul din dreapta sus */
header #branding{
	float:left;
	
}
header #branding h1{
	margin:0;
}

header nav{
	float:right;
	margin-top:10px;
	
}
/* Colorez AuctionX si butonul HOME in portocaliu */
header .highlight, header .current a{
	color:#e8491d;
	
	font-weight:bold;
}
/*Efect la scris */
header a:hover{
	color:#cccccc;
	font-weight:bold;
}

/* Showcase */

#showcase{
	background:url('../img/12.jpg');
	opacity:0.8;
	filter:alpha(opacity=100);
	background-size: cover;
	background-position:center;
	
}
#showcase p{
	text-align:center;
	color:#ffffff;
	opacity:1.0 !important;
	
}

#showcase h1{
	margin-top:400px;
	font-size:70px;
	margin-bottom:30px;
	text-align:center;
	opacity:1.0 !important;
	color:#ffffff;
}

#showcase p{
	font-size:40px;
}

#newsletter2{
	border-bottom:#e8491d 3px solid;
	border-top:#e8491d 3px solid;
	padding:25px;
	color:#ffffff;
	background:#35424a;
}


#newsletter2 form{
	
	font-size:20px;
	margin-top:1%;
}

#newsletter{
	border-bottom:#e8491d 3px solid;
	border-top:#e8491d 3px solid;
	padding:40px;
	color:#ffffff;
	background:#35424a;
}


#newsletter form{
	float:right;
	margin-top:1%;
}

#newsletter input[type="search"]{
	padding:10px;
	height:38px;
	width:250px;
}

/* boxes */
#boxes{
	margin-top:20px;
}

#boxes .box{
	float:left;
	text-align:center;
	width:30%;
	padding:20px;
}

#boxes .box img {
	width:220px;
}


footer{
	padding:20px;
	margin-top:20px;
	color:#ffffff;
	background-color:#e8491d;;
	text-align:center;
}

@media(max-width:768px){
	header #branding,
	header nav,
	header nav li,
	newsletter h1,
	#newsletter form,
	#boxes .box{
		float:none;
		text-align:center;
		width:100%;
	}
	header{
	padding-bottom:20px;
	}
	#showcase h1{
		margin-top:40px;
	}
	
	#newsletter button{
		display:block;
		width:100%;
	}
	
	#newsletter form input[type="search"]{
		width:100%;
		margin-bottom:5px;
	}
}

@keyframes slider {

0% {
	left: 0;
}

20% {
	left: 0;
}

25% {
	left: -200px;
}

45% {
    left: -200px;

}

50% {
		left: -400px;

}

70% {
	left: -400px;
}

75% {
	left: -600px;
}

95% {
	left: -600px;
}

100% {
	left: -800px;

}

}
.slide-categorii-row1
{
	float:none;
}
.slider {
	width:200px;
	overflow: hidden;
	border-style: solid;
	border-color:#e8491d;
	text-align:center;
	float:left;
	margin-left:50px;
	margin-top:100px;
}

.slider figure img {
	width:200px;
	height:200px;
	display:inline;
	float: left;
	background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
	padding:0;
	margin:0;
}
 .slider a{
	 
	 text-align:center;
	 background-color:#f4f4f4;
	 margin:0;
	 padding:0;
	 color:#000000;
	font-weight:bold;
		text-decoration:none;
 }
.slider figure {
	position: relative;
	width:500%;
	margin: 0;
	left: 0;
	text-align:center;
	font-size: 0;
	animation: 20s slider infinite; 
	display:inline;
	float:left;

}

.grid-produs
{
	display:grid;
	grid-template-columns: auto auto auto;
	border-style:solid;
	border-color:#e8491d;
	padding: 10px;
	grid-gap: 50px;
	width:90%;
}
#imagine-produs
{
	   grid-row-start: 1;
		grid-row-end: 2;
		width:90%;}
#nume-produs
{
		grid-column-start:2;
		grid-column-end:4;
		font-size:35px;
}
#descriere-produs
{
		grid-column-start:1;
		grid-column-end:4;
		font-style:italic;
		font-size:20px;
}
#min-bid
{
	font-size:20px;
}
#current-price
{
	font-size:20px;
}
#place-bid
{
		grid-column-start:2;
		grid-column-end:4;
}
#place-bid input{
width:20%;
height:32px;}

.button_bid {height:38px;
	background:#e8491d;
	border:0;
	padding-left:20px;
	padding-right:20px;
color:#ffffff;}
	
@media (min-width: 768px) and (max-width: 991px)
{ .slider
	{margin-left:10px;
	margin-top:40px;
	}
	.slide-categorii-row1
	{
		float:none;
	}
	.slider:first-child
	{ margin-left:0px !important;
	}
}
@media (min-width: 992px) and (max-width: 1199px) 
{
		.slide-categorii-row1
	{
		float:none;
	}
	.slider{
		margin-left:70px;
		margin-top:40px;
	}
	.slider:first-child
	{ margin-left:0px !important;
	}
}
@media (min-width:1200px)
{
	.slider:first-child{
	margin-left:150px;
	}
	
	.slide-categorii-row1{
		float:left;
	}

}
