body{
	font-family: Arial, Helvetica, sans-serif;
	font-size:15px;
	line-height:1.5;
	
	padding:0;
	margin:0;
	background-color:#f4f4f4;
	
}
/*Global */
.container{
	width:85%;
	margin:auto;
	overflow:hidden;
}

header ul{
	margin:0;
	padding:0;
}

.button_1{
	height:38px;
	background:#e8491d;
	border:0;
	padding-left:20px;
	padding-right:20px;
	color:#ffffff;
}

.dark{
	padding:15px;
	background:#35424a;
	color:#ffffff;
	margin-top:10px;
	margin-bottom:10px;
}
/* Header */
header{
	background:#35424a;
	color:#ffffff;
	padding:30px;
	min-height:100%;
	border-bottom:#e8491d 3px solid;
	
}

header a{
	color:#ffffff;
	text-decoration:none;
	font-size:100%;
}

header li{
	float:left;
	display:inline;
	padding:0 30px 0 30px ;
	
}
/* Mut butoanele in coltul din dreapta sus */
header #branding{
	float:left;
	
	
}
header #branding h1{
	margin:0;
	
}

header nav{
	float:right;
	margin-top:10px;
	
}
/* Colorez AuctionX si butonul HOME in portocaliu */
header .highlight, header .current a{
	color:#e8491d;
		
	font-weight:bold;
}
/*Efect la scris */
header a:hover{
	color:#cccccc;
	font-weight:bold;
}

/* Showcase */

#showcase{
	background:url('../img/12.jpg');
	opacity:0.7;
	filter:alpha(opacity=100);
	background-size: cover;
	background-position:center;
	
}
#showcase p{
	text-align:center;
	color:#ffffff;
	opacity:1.0 !important;
	
}

#showcase h1{
	margin-top:400px;
	font-size:70px;
	margin-bottom:30px;
	text-align:center;
	opacity:1.0 !important;
	color:#ffffff;
}

#showcase p{
	font-size:40px;
}

#newsletter2{
	border-bottom:#e8491d 3px solid;
	border-top:#e8491d 3px solid;
	padding:12px;
	color:#ffffff;
	background:#35424a;
}


#newsletter2 form{
	float:Right;
	font-size:20px;
	margin-top:20px;
}


#newsletter{
	border-bottom:#e8491d 3px solid;
	border-top:#e8491d 3px solid;
	padding:25px;
	color:#ffffff;
	background:#35424a;
}

#newsletter form{
	float:right;
	margin-top:30px;
}

#newsletter input[type="search"]{
	padding:10px;
	height:38px;
	width:250px;
}

#post
{	
	background:#f1f1f1;
	font-family: 'intro';
	margin:0;
	padding:0;
}

.post{
	float:left;
	width:1189px;
	height:700px;
	position:relative;
	
}

.post img {
	display:block;
	width:1189px;
	height:700px;
	cursor: pointer;
	
	
}

.post:hover .post-s{
	
	width:1189px;
}

.post-s{ 
	
	width:0px;
	height:700px;
	background:rgba(45, 44, 44, 0.71);
	position:absolute;
	top:0;
	display:flex;
	justify-content:center;
	align-items:center;
	overflow:hidden;
	transition:0.7s ease;
}

.post-s h2{
		
	color:white;
	font-size:50px;
	border:6px solid white;
	padding:10px 30px;
	
}

/* boxes */
#boxes{
	margin-top:30px;
	text-decoration:none;
}

#boxes .box{
	float:left;
	text-align:center;
	text-decoration:none;
	width:30%;
	padding:20px;
	text-decoration:none;
}

#boxes .box img 
{
	
	width:220px;
	text-decoration:none;
}

#main
{
	background:url('../img/about.jpg');
	opacity:1;
	filter:alpha(opacity=100);
	background-size: cover;
background-position:center;
}


aside#sidebar{
	float:left;
	width:60%;
	font-size:20px;
	margin-top:75px;
	padding-left:400px;
}

aside#side{
	float:left;
	width:60%;
	font-size:20px;
	margin-top:75px;
	padding-left:400px;
}

aside#sidebars{
	float:left;
	width:60%;
	font-size:20px;
	margin-top:75px;
	padding-left:400px;
}


footer{
	
	padding:20px;
	margin-top:20px;
	color:#ffffff;
	background-color:#e8491d;
	font-size:15px;
	text-align:center;
}

@media(max-width:769px){
	header #branding,
	header nav,
	header nav li,
	newsletter h1,
	#newsletter form,
	#boxes .box,
	article#main-col,
	aside#sidebar {
		float:none;
		text-align:center;
		width:100%;
	}
	.post{
	width:50%;
	
}

.post img {
	
	width:50%;
	
}
	header{
	padding-bottom:20px;
	}
	#showcase h1{
		margin-top:40px;
	}
	
	#newsletter button{
		display:block;
		width:100%;
	}
	
	#newsletter form input[type="search"]{
		width:100%;
		margin-bottom:5px;
	}
}
	
