body{
	font-family: Arial, Helvetica, sans-serif;
	font-size:15px;
	line-height:1.5;
	
	padding:0;
	margin:0;
	background-color:#35424a;
	
}

.login {
	width:30%;
	margin:30px auto;
	background:#000;
	color:#fff;
	box-sizing:border-box;
	padding:40px 30px;}
	
	
.avatar{
	width:30%;
	
	border-radius:50%;
	position:relative;
	left:35%;
	
	}
#logintext{
	margin:0;
	padding:0 0 20px;
	text-align:center;
font-size:22px;}

.login p{
	margin:0;
	padding:0;
	font-weight:bold;
}
.login input {
	width:100%;
	margin-bottom:20px;
}
.login input[type="email"],input[type="password"]
{border:none;
border-bottom:1px solid #fff;
background:transparent;
outline:none;
height:40px;
color:#fff;
font-size:16px;
}
.login input[type="submit"]
{
	border:none;
	outline:none;
	height:40px;
	background:#e8491d;
	color::#ffffff;
	font-size:18px;
	border-radius:20px;}
.login input[type="submit"]:hover
{cursor:poiner;
background:#ffc107;
color:#000;
}
.login a{
	text-decoration:none;
	color:blue;
}

.parola h2,h3{
color:#ffffff;
}

.parola h2{
	font-size:32px;
}
.parola p{
	font-style: italic;
	color:#ffffff;
	}
.parola input[type="submit"]
{
	border:none;
	outline:none;
	height:40px;
	background:#e8491d;
	color::#ffffff;
	font-size:18px;
	width:5%;}
.parola input[type="email"]
{width:20%;
outline:none;
height:34px;
color:#fff;
font-size:16px;
}
@media(max-width:620px){
	.avatar {
		width:60%;
		left:20%;
	}
	.login{
		width:50%;
	}

	
	
