body{
	font-family: Arial, Helvetica, sans-serif;
	font-size:15px;
	line-height:1.5;
	
	padding:0;
	margin:0;
	background-color:#f4f4f4;
	
}
/*Global */
.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

header ul{
	margin:0;
	padding:0;
}

.button_1{
	height:38px;
	background:#e8491d;
	border:0;
	padding-left:20px;
	padding-right:20px;
	color:#ffffff;
}
/* Header */
header{
	background:#35424a;
	color:#ffffff;
	padding-top:30px;
	min-height:70px;
	border-bottom:#e8491d 3px solid;
}

header a{
	color:#ffffff;
	text-decoration:nome;
	text-transform: uppercase;
	font-size:16px;
}

header li{
	float:left;
	display:inline;
	padding:0 20px 0 20px ;
	
}
/* Mut butoanele in coltul din dreapta sus */
header #branding{
	float:left;
	
}
header #branding h1{
	margin:0;
}

header nav{
	float:right;
	margin-top:10px;
	
}
/* Colorez AuctionX si butonul HOME in portocaliu */
header .highlight, header .current a{
	color:#e8491d;
	font-weight:bold;
}

/*Efect la scris */
header a:hover{
	color:#cccccc;
	font-weight:bold;
}

/* Showcase */

#showcase{
	background:url('../img/12.jpg');
	background-size: cover;
	background-position:center;
	text-align:center;
	color:#ffffff;
}

#showcase h1{
	margin-top:400px;
	font-size:70px;
	margin-bottom:30px;
}

#showcase p{
	font-size:40px;
}


#newsletter{
	padding:25px;
	color:#ffffff;
	background:#35424a;
}

#newsletter form{
	float:right;
	margin-top:15px;
}

#newsletter input[type="search"]{
	padding:10px;
	height:38px;
	width:250px;
}

/* boxes */
#boxes{
	margin-top:20px;
}

#boxes .box{
	float:left;
	text-align:center;
	width:30%;
	padding:20px;
}

#boxes .box img {
	width:220px;
}

footer{
	padding:20px;
	margin-top:20px;
	color:#ffffff;
	background-color:#e8491d;
	text-align:center;
}


