#Logo {
	width:7%;
	position:left;
	padding-left:75px;
	display: inline;}
#ButonInregistrare{
	border:2px solid black;
	display:inline-block;
	}
#ButonLogin {
	border:2px solid black;
	display:inline-block;
	}
div {float:right;
	}
